.header {
    background-color: black;
    color:white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &Inner {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .titleWrapper {
      display: flex;
      align-items: center;
    }
  
    .title {
      font-size: 1.9rem;
      margin: 10;
      color: white;
    }
  
    .navWrapper {
      display: flex;
      align-items: center;
    }
  
    .headerNav {
      margin-left: 2rem;
  
      .navList {
        list-style: none;
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 0;
      }
  
      .navItem {
        .active {
          text-decoration: underline;
        }
      }
    }
  
    .contactWrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
  
      .link {
        color: #fff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      .contact {
        margin: 0;
      }
    }
  }
  